bleach==4.0.0
build==0.6.0.post1
bump2version==1.0.1
bumpversion==0.6.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
cryptography==3.4.7
docutils==0.17.1
idna==2.10
importlib-metadata==4.6.3
jeepney==0.7.1
keyring==23.0.1
packaging==21.0
pkginfo==1.7.1
pycparser==2.20
pyparsing==2.4.7
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
SecretStorage==3.3.1
six==1.16.0
tqdm==4.62.0
twine==3.4.2
urllib3==1.26.6
webencodings==0.5.1
zipp==3.5.0
